@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: black;
  width: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

i {
  color: white;
  font-size: 30px;
  cursor: pointer;
  transition: 0.5ms all;
}

i:hover {
  color: gray;
}

.page1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  margin-left: 100px;
}

.tab1 {
  color: white;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 350px;
  text-align: center;
  text-wrap: nowrap;
  gap: 2rem;
  background-color: black;
  padding: 50px;
  border-radius: 20px;
}

.btn1,
.btn0 {
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  outline: none;
  cursor: pointer;
  transition: all 0.1s;
}

.btn1:hover,
.btn0:hover {
  transform: scale(110%);
}

.js--closemodal1 {
  color: white;
  position: relative;
  align-self: center;
}

.page2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  margin-left: 100px;
}

.tab2 {
  color: white;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 350px;
  text-align: center;
  gap: 2rem;
  background-color: black;
  padding: 50px;
  border-radius: 20px;
}

.js--closemodal2 {
  color: white;
  position: relative;
  align-self: center;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar {
    position: fixed;
    bottom: 0;
    top: auto; /* So that top won't overwrite bottom */
    height: 100px; /* Adjusted height */
    width: 100%;
  }

  .list-options {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .page1, .page2 {
    margin-left: auto; /* Makes margin not overflow, since it's 100px in the original size */
    padding-left: 10px;
    padding-right: 10px;
  }
}
